<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <section class="flota" id="flota">
        <h2>Nuestra Flota</h2>
        <div class="flota-grid">
            <div class="vehiculo-card">
                <img src="img/img2.png" alt="Minivan escolar">
                <h3>Minivans</h3>
                <p>Capacidad para 8-10 ni単os, ideal para grupos peque単os</p>
            </div>

            <div class="vehiculo-card">
                <img src="/img/img3.png" alt="Bus escolar mediano">
                <h3>Buses Medianos</h3>
                <p>Capacidad para 20-25 ni単os, con cinturones de seguridad</p>
            </div>

            <div class="vehiculo-card">
                <img src="/img/img4.png" alt="Bus escolar grande">
                <h3>Buses Grandes</h3>
                <p>Capacidad para 40-50 ni単os, para colegios grandes</p>
            </div>
        </div>
    </section>
    
</body>
</html>